.frame {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 50px 100px;
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
  }
  
  .frame .div {
    flex-direction: column;
    width: 1240px;
    align-items: flex-start;
    gap: 36px;
    flex: 0 0 auto;
    display: flex;
    position: relative;
  }
  
  .frame .div-2 {
    align-items: center;
    gap: 33px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    position: relative;
  }
  
  .frame .why-compliance {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-top: -1.00px;
    font-family: var(--typography-h2-48px-semibold-font-family);
    font-weight: var(--typography-h2-48px-semibold-font-weight);
    color: transparent;
    font-size: var(--typography-h2-48px-semibold-font-size);
    letter-spacing: var(--typography-h2-48px-semibold-letter-spacing);
    line-height: var(--typography-h2-48px-semibold-line-height);
    font-style: var(--typography-h2-48px-semibold-font-style);
  }
  
  .frame .text-wrapper {
    color: #000000;
    font-family: var(--typography-h2-48px-semibold-font-family);
    font-style: var(--typography-h2-48px-semibold-font-style);
    font-weight: var(--typography-h2-48px-semibold-font-weight);
    letter-spacing: var(--typography-h2-48px-semibold-letter-spacing);
    line-height: var(--typography-h2-48px-semibold-line-height);
    font-size: var(--typography-h2-48px-semibold-font-size);
  }
  
  .frame .span {
    color: #4356d6;
    font-family: var(--typography-h2-48px-semibold-font-family);
    font-style: var(--typography-h2-48px-semibold-font-style);
    font-weight: var(--typography-h2-48px-semibold-font-weight);
    letter-spacing: var(--typography-h2-48px-semibold-letter-spacing);
    line-height: var(--typography-h2-48px-semibold-line-height);
    font-size: var(--typography-h2-48px-semibold-font-size);
  }
  
  .frame .in-today-s {
    position: relative;
    flex: 1;
    font-family: var(--typography-body-18px-regular-font-family);
    font-weight: var(--typography-body-18px-regular-font-weight);
    color: #000000;
    font-size: var(--typography-body-18px-regular-font-size);
    letter-spacing: var(--typography-body-18px-regular-letter-spacing);
    line-height: var(--typography-body-18px-regular-line-height);
    font-style: var(--typography-body-18px-regular-font-style);
  }
  
  .frame .div-3 {
    align-items: center;
    gap: 52px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    position: relative;
  }
  
  .frame .group {
    position: relative;
    flex: 1;
    flex-grow: 1;
    aspect-ratio: 1;
  }
  
  .frame .overlap-group-wrapper {
    display: flex;
    align-items: flex-start;
    min-width: 594px;
  }
  
  .frame .overlap-group {
    width: 594px;
    height: 594px;
    position: relative;
  }
  
  .frame .OBJECTS {
    position: absolute;
    height: 594px;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    min-width: 594px;
  }
  
  .frame .clip-path-group-wrapper {
    height: 594px;
    display: flex;
    padding: 45.3px 65.8px;
    justify-content: flex-end;
    align-items: flex-end;
    min-width: 594px;
    background-image: url(./img/clip-path-group-2.png);
    background-size: 100% 100%;
  }
  
  .frame .clip-path-group {
    width: 290px;
    height: 284px;
  }
  
  .frame .img {
    position: absolute;
    width: 114px;
    height: 121px;
    top: 425px;
    left: 54px;
  }
  
  .frame .div-4 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    position: relative;
  }
  
  .frame .frame-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
    padding: 20px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #fafbff;
    border-radius: 8px;
    border: 1px solid;
    border-color: #e1e7ff;
    display: flex;
    position: relative;
  }
  
  .frame .div-5 {
    display: flex;
    align-items: flex-start;
    gap: 26px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .frame .mask-group {
    position: relative;
    width: 36px;
    height: 36px;
    aspect-ratio: 1;
  }
  
  .frame .div-6 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 11px;
    flex: 1;
    flex-grow: 1;
    display: flex;
    position: relative;
  }
  
  .frame .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
  }
  
  .frame .p {
    position: relative;
    align-self: stretch;
    height: 59px;
    font-family: var(--typography-body-18px-regular-font-family);
    font-weight: var(--typography-body-18px-regular-font-weight);
    color: #000000;
    font-size: var(--typography-body-18px-regular-font-size);
    letter-spacing: var(--typography-body-18px-regular-letter-spacing);
    line-height: var(--typography-body-18px-regular-line-height);
    font-style: var(--typography-body-18px-regular-font-style);
  }
  
  .frame .path {
    position: absolute;
    top: 91px;
    left: 499px;
    width: 34px;
    height: 128px;
  }
  
  .frame .group-2 {
    position: absolute;
    width: 9.54%;
    height: 3.93%;
    top: 91.95%;
    left: 0;
  }
  
  .frame .vector {
    position: absolute;
    width: 18.02%;
    height: 100%;
    top: 0;
    left: 81.98%;
  }
  
  .frame .vector-2 {
    left: 65.58%;
    position: absolute;
    width: 18.02%;
    height: 100%;
    top: 0;
  }
  
  .frame .vector-3 {
    left: 49.19%;
    position: absolute;
    width: 18.02%;
    height: 100%;
    top: 0;
  }
  
  .frame .vector-4 {
    left: 32.79%;
    position: absolute;
    width: 18.02%;
    height: 100%;
    top: 0;
  }
  
  .frame .vector-5 {
    left: 16.40%;
    position: absolute;
    width: 18.02%;
    height: 100%;
    top: 0;
  }
  
  .frame .vector-6 {
    left: 14.56%;
    position: absolute;
    width: 18.02%;
    height: 100%;
    top: 0;
  }